<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<title>商品添加</title>
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<link type="text/css" rel="stylesheet" href="/stylesheets/public.css" />
	<link type="text/css" rel="stylesheet" href="/stylesheets/goods_add.css" />
</head>
<body>
	<header>
		<h1>
			<img src="/imgs/goods_add/logo.png" />
		</h1>
		<div class="logo_right">
			<ul>
				<li>
					<a>
						<span><img src="/imgs/goods_add/top1.png"/></span>
						<span>更多模板产品</span>
					</a>
				</li>
				<li>
					<a>
						<span><img src="/imgs/goods_add/top2.png"/></span>
						<span>开店向导</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span><img src="/imgs/goods_add/top3.png"/></span>
						<span>记事本</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span><img src="/imgs/goods_add/top4.png"/></span>
						<span>刷新</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span><img src="/imgs/goods_add/top5.png"/></span>
						<span>个人设置</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span><img src="/imgs/goods_add/top6.png"/></span>
						<span>管理员留言</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span><img src="/imgs/goods_add/top7.png"/></span>
						<span>查看网店</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span><img src="/imgs/goods_add/top8.png"/></span>
						<span>帮助</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span><img src="/imgs/goods_add/top9.png"/></span>
						<span>关于ECSHOP</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span><img src="/imgs/goods_add/top10.png"/></span>
						<span>清除缓存</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span><img src="/imgs/goods_add/top11.png"/></span>
						<span>退出</span>
					</a>
				</li>
			</ul>
		</div>
	</header>
	<nav>
		
	</nav>
	
	<div class="center">
		
		<div class="navl">
				<ul>
					<li>
						<i>
							商品管理
						</i>
							<span>
								<a target="main" href="http://localhost:8080/goods_adds">
									商品列表
								</a>
							</span>
							<span>
								<a target="main" href="https://www.baidu.com">
									添加新商品
								</a>
							</span>
							<span>
								<a href="#">
									商品列表2
								</a>
							</span>
							
							<span>
								<a href="#">
									商品列表3
								</a>
							</span>
							<span>
								<a href="#">
									商品列表4
								</a>
							</span>
							<span>
								<a href="#">
									商品列表5
								</a>
							</span>
					</li>
					<li>
						<i>
							商品管理
						</i>
					</li>
					<li>
						<i>
							商品管理
						</i>
					</li>
					<li>
						<i>
							商品管理
						</i>
					</li>
					
					<li>
						<i>
							商品管理
						</i>
					</li>
					<li>
						<i>
							商品管理
						</i>
					</li>
					<li>
						<i>
							商品管理
						</i>
					</li>
				</ul>
		</div>
		<iframe class="main" name="main" src="">
			
		</iframe>
	</div>
</body>
	<script type="text/javascript">
		
	</script>
</html>