<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<title>商品列表</title>
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<link type="text/css" rel="stylesheet" href="/stylesheets/public.css" />
	<link type="text/css" rel="stylesheet" href="/stylesheets/goods_list.css" />
</head>
<body>
	<nav>
		<span><input type="text" /></span>
		<span>搜索</span>
	</nav>
	
	<main>
	
		<table>
			<tr>
				<th>
					<input type="checkbox" />
					<span>编号</span>
				</th>
				<th>商品名称</th>
				<th>货号</th>
				<th>价格</th>
				<th>上架</th>
				<th>精品</th>
				<th>新品</th>
				<th>热销</th>
				<th>推荐排序</th>
				<th>库存</th>
				<th>虚拟销量</th>
				<th>操作</th>
			</tr>
		</table>
	</main>
</body>
	<script type="text/javascript">
	
	</script>
</html>